body {margin:0;}

ul {
   height: 5vh;
   width: 101vw;
   font-size: 2.9vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

nav2 {

  border-radius: 15px;
  font-family: monospace;
  color: white;
  background-color: #8a8a8a;
  text-decoration: none;
  display: block;
}

.gallery {
    padding: 0;
    margin: 0;
    justify-content: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        grid-gap: 1rem;
flex-wrap: wrap;
    flex-direction: row;
    min-height: 16vh;
    min-width: 18vw;
}

.gallery > div {
    justify-items: stretch;
    padding:1.0rem;
    border-radius: 1rem;
}
.image:img {
    width: 13vw;
    height: 11vh;

}
.box {
    
    border: 2px rgb(35, 35, 37);
    border-radius: 10px;
    border-style: solid;
    width: 21vw;
    height: auto;
    padding: 0.3%;
    margin: 0.5%;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 120px;
    min-width: 120px;
    align-items: stretch;
  }
